body{
    background-image: url('Login.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 1100px;
    height: 600px ;
    background-color: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(8px);
    border-radius: 18px;
    text-align: center;
    display: flex;
}

.div-branco {
    align-items: center;
    width: 50%;
    background-color: white;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
}

.div-transparente {
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
    
}

form{
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-top: 100px;
    margin-left: 45px;
}

img{
    width: 500px;
}


label{
    margin-left:-250px;
    margin-right:5px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 18px;
}

input[type=number]{
        width: 363px;
        height: 35px;
        margin-left: 48px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 5px;
}

input[type=password]{
        width: 363px;
        height: 35px;
        margin-left: 48px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 5px;
}

h1{
    font-family: 'Arial';
    font-style: normal;
    font-size: 45px;
    margin-left: 100px;
    margin-top: 80px;
}

h2{
    font-family: 'Arial';
    color:#8A512C;
    font-size: 55px;
}

#entrar{
   
        width: 224px;
        height: 50px;
        margin-left: 80px;
        margin-top: 89px;
        background: #592B1B;
        border-radius: 15px;
        border: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        text-align: center;
}

#entrar:hover{
    background: #6e3724;
    color: #FFFFFF;
    border-radius: 15px;
}

h4{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #b8ada5;
    text-align: center;
} 
#cadas{
    width: 224px;
    height: 50px;
    margin-top: -150px;
    background: #592B1B;
    border-radius: 15px;
    border: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
}

#cadas:hover{
background: #6e3724;
color: #FFFFFF;
border-radius: 15px;
}

h4{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #a8a09a;
    text-align: center;
} 